



body, html {
    margin: 0px; padding: 0px;
    overflow: hidden;
    .a-fill-container;
    font-family: sans-serif;
    .a-text-color-grey-7;
}

* {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}


.c-bootstrap {
    .a-fill-container;
    .a-background-grey-5;
    .a-flex-h;
}
    .c-bootstrap__back {
        .a-height-100;
        width: calc( 100% ~'-' 1212px );
        .a-interactive;
    }

    .c-bootstrap iframe#cssreveal_target {
        .a-position-relative;
        height: 96vh;
        // left: 50%; margin-left: -605px;
        width: 1212px; min-width: 1212px;
        border: none;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        z-index: 50;
    }


.c-cssrevealapp {
    background-color: rgba( 0,0,0,.6);

    .a-fill-container;

    .a-position-absolute;
    .a-top-left;
    .a-flex-h-stretch;
    .a-justify-content-center;
    .a-display-none;
    z-index: 100;
}

    body.s_app .c-cssrevealapp{
        .a-flex-h-stretch;
    }

    .c-cssrevealapp__back {
        .a-width-col-1;
    }

    .c-cssrevealapp__content {
        .a-width-col-10;
        .a-shadow-left-right;
        .a-flex-h-stretch;
        .a-background-white;
        .a-position-relative;

        pre {
            -moz-tab-size: 5;
            tab-size: 5;
        }
    }


    .c-cssrevealapp__nav {
        .a-width-col-3;
    }

    .c-cssrevealapp__viewer {
        .a-flex-item-fill;
        .a-background-grey-9;
        .a-overflow-auto;
    }

    .c-cssrevealapp__close {
        .a-position-absolute;
        .a-text-color-grey-9;
        .a-text-size;
        .a-width-col-1;
        .a-height-row-3;
        .a-top-right;
        .a-interactive;
        .a-flex-center;
        background-color: rgba( 0,0,0,.7);
        //border-bottom: 1px solid #666;
        .a-shadow-bottom;
    }
        .c-cssrevealapp:hover {
            background-color: rgba( 0,0,0,.9);
        }
